                                <li class="w3-border-0"
                                    id="{{ alert_li_id_prefix }}_alertLi_{{ alert_li_id_suffix }}">
                                    <div class="w3-border-no w3-display-container w3-panel"
                                         id="{{ alert_li_id_prefix }}_programAlertDiv_{{ alert_li_id_suffix }}"
                                         style="display: none;">
                                        <span id="{{ alert_li_id_prefix }}_programSpan_{{ alert_li_id_suffix }}"
                                              onclick="CommonModule.resetAlertDiv('{{ alert_li_id_prefix }}_programAlertDiv_{{ alert_li_id_suffix }}')"
                                              class="w3-button w3-display-topright w3-large">&times</span>
                                        <h3 id="{{ alert_li_id_prefix }}_programHeader_{{ alert_li_id_suffix }}"></h3>
                                        <p class="w3-medium"
                                           id="{{ alert_li_id_prefix }}_programMessageParagraph_{{ alert_li_id_suffix }}"></p>
                                        <p class="w3-medium"
                                           id="{{ alert_li_id_prefix }}_programReasonParagraph_{{ alert_li_id_suffix }}"></p>
                                    </div>
                                </li>