    <div class="w3-border w3-container"
         id="configurationDiv"
         style="display: none; overflow-y: auto;">
        <ul class="w3-border-0 w3-ul">
            <li class="w3-border-0">
                <form action=""
                      autocomplete="off"
                      class="w3-container"
                      id="configurationForm"
                      novalidate="novalidate">
                    <button class="w3-black w3-block w3-button"
                            id="serverConfigurationButton"
                            onclick="ConfigurationModule.toggleConfigurationDiv('serverConfiguration')"
                            type="button">Server</button>
                    <div class="w3-container w3-hide"
                         id="serverConfigurationDiv"
                         style="padding: 8px;">
                        <div class="w3-cell-row">
                            <div class="w3-cell w3-container">
                                <label for="serverPasswordInput">Password</label>
                                <span class="fas fa-eye w3-right"
                                      id="serverTogglePasswordSpan"
                                      onclick="ConfigurationModule.togglePasswordVisibility(event)"
                                      style="cursor: pointer;"></span>
                                <input class="w3-border w3-input"
                                       id="serverPasswordInput"
                                       name="serverPasswordInput"
                                       oninput="ConfigurationModule.determineResetAndUpdateButtonsState()"
                                       type="password"
                                       value="{{ configuration_server_password }}"/>
                                <span class="w3-font-red w3-tiny"
                                      id="serverPasswordInputErrorSpan"
                                      style="color: red;"></span>
                            </div>
                        </div>
                        <div class="w3-cell-row">
                            <div class="w3-cell w3-container w3-half">
                                <label for="serverHttpPortInput">HTTP Port Number</label>
                                <input class="w3-border w3-input"
                                       id="serverHttpPortInput"
                                       name="serverHttpPortInput"
                                       oninput="ConfigurationModule.determineResetAndUpdateButtonsState()"
                                       type="number"
                                       value="{{ configuration_server_http_port }}"/>
                                <span class="w3-font-red w3-tiny"
                                      id="serverHttpPortInputErrorSpan"
                                      style="color: red;"></span>
                            </div>
                            <div class="w3-cell w3-container w3-half">
                                <label for="serverHttpsPortInput">HTTPS Port Number</label>
                                <input class="w3-border w3-input"
                                       id="serverHttpsPortInput"
                                       name="serverHttpsPortInput"
                                       oninput="ConfigurationModule.determineResetAndUpdateButtonsState()"
                                       type="number"
                                       value="{{ configuration_server_https_port }}"/>
                                <span class="w3-font-red w3-tiny"
                                      id="serverHttpsPortInputErrorSpan"
                                      style="color: red;"></span>
                            </div>
                        </div>
                        <div class="w3-cell-row">
                            <div class="w3-cell w3-container w3-third">
                                <label for="serverHostnameLoopbackInput">Loopback Hostname</label>
                                <input class="w3-border w3-input"
                                       id="serverHostnameLoopbackInput"
                                       name="serverHostnameLoopbackInput"
                                       oninput="ConfigurationModule.determineResetAndUpdateButtonsState()"
                                       type="text"
                                       value="{{ configuration_server_hostname_loopback }}"/>
                                <span class="w3-font-red w3-tiny"
                                      id="serverHostnameLoopbackInputErrorSpan"
                                      style="color: red;"></span>
                            </div>
                            <div class="w3-cell w3-container w3-third">
                                <label for="serverHostnamePrivateInput">Private LAN Hostname</label>
                                <input class="w3-border w3-input"
                                       id="serverHostnamePrivateInput"
                                       name="serverHostnamePrivateInput"
                                       oninput="ConfigurationModule.determineResetAndUpdateButtonsState()"
                                       type="text"
                                       value="{{ configuration_server_hostname_private }}"/>
                                <span class="w3-font-red w3-tiny"
                                      id="serverHostnamePrivateInputErrorSpan"
                                      style="color: red;"></span>
                            </div>
                            <div class="w3-cell w3-container w3-third">
                                <label for="serverHostnamePublicInput">Public WAN Hostname</label>
                                <input class="w3-border w3-input"
                                       id="serverHostnamePublicInput"
                                       name="serverHostnamePublicInput"
                                       oninput="ConfigurationModule.determineResetAndUpdateButtonsState()"
                                       type="text"
                                       value="{{ configuration_server_hostname_public }}"/>
                                <span class="w3-font-red w3-tiny"
                                      id="serverHostnamePublicInputErrorSpan"
                                      style="color: red;"></span>
                            </div>
                        </div>
                    </div>
{{ configuration_providers }}
                </form>
            </li>
            <li class="w3-border-0">
                <div class="w3-border-no w3-display-container w3-panel"
                     id="configurationAlertDiv"
                     style="display: none;">
                            <span id="configurationSpan"
                                  onclick="CommonModule.resetAlertDiv('configurationAlertDiv')"
                                  class="w3-button w3-large w3-display-topright">&times;</span>
                    <h3 id="configurationHeader"></h3>
                    <p class="w3-medium"
                       id="configurationMessageParagraph"></p>
                    <p class="w3-medium"
                       id="configurationReasonParagraph"></p>
                </div>
            </li>
            <li class="w3-border-0">
                <div class="w3-right-align">
                    <button class="w3-button w3-black w3-disabled"
                            id="configurationResetButton"
                            onclick="ConfigurationModule.resetConfiguration()">
                        Reset
                    </button>
                    <button class="w3-button w3-red w3-disabled"
                            id="updateConfigurationButton"
                            onclick="ConfigurationModule.updateConfiguration()">Update
                    </button>
                </div>
            </li>
    </div>
