                        <li class="w3-container"
                            id="{{ date_li_id_prefix }}_dateLi_{{ date_li_id_suffix }}"
                            style="padding: 0;">
                            <div class="w3-bar">
                                <div class="w3-bar-item">
                                    <h2>{{ date_li_h2_text }}</h2>
                                </div>
                                <div class="w3-bar-item w3-right">
                                    <span id="{{ date_li_id_prefix }}_dateSpan_{{ date_li_id_suffix }}"
                                          class="fas fa-plus"
                                          onclick="GuideModule.toggleDateProgramsLi('{{ date_li_id_prefix }}', '{{ date_li_id_suffix }}')"
                                          style="cursor: pointer;">
                                    </span>
                                </div>
                            </div>
                        </li>